services:
  api:
    container_name: nestjs-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_DATABASE=hostal
      - STRIPE_SECRET_KEY=sk_test_tu_clave
      - STRIPE_PUBLISHABLE_KEY=pk_test_tu_clave
      - STRIPE_WEBHOOK_SECRET=whsec_tu_secreto
    volumes:
      - ./src:/app/src
      - ./test:/app/test
      - ./tsconfig.json:/app/tsconfig.json
    networks:
      - hostal-net
    depends_on:
      - mariadb
    restart: always

  mariadb:
    image: mariadb:10.6
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hostal
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always
    networks:
      - hostal-net

networks:
  hostal-net:
    driver: bridge

volumes:
  mariadb_data: